

    <div class="row">
        <div class="col-sm-3 p-5" *ngFor="let product of products">
            <div class="card">
                <img class="card-img-top img-fluid m-auto" src={{product.image}} alt="Card image cap">
                <div class="card-block p-3">
                    <h5 class="card-title">{{product.productName}}</h5>
                    <p class="card-text"><small class="text-muted">{{product.description}}</small></p>
                    <p class="card-text">$ {{product.price}}</p>
                    <button (click)="AddCart(product)">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

