<h4>Your Cart</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Sub total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cart of carts | async; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{cart.productName}}</td>
      <td>{{cart.quantity}}</td>
      <td>{{cart.price}}</td>
      <td>{{cart.total}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th >Total</th>
      <th>{{total}}</th>
    </tr>
  </tfoot>
</table>