<a routerLink="/admin/product/add" routerLinkActive="active"class="btn btn-primary btn-lg mb-2" role="button" aria-disabled="true">New product</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th colspan="2" scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{product.productName}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>
        <button (click)="onDeleteProduct(product.id)" class="btn btn-danger mr-1">Delete</button>
        <a [routerLink]="['/admin/product/update', product.id]" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table>