<form [formGroup]="productUpdateForm" (ngSubmit)="onUpdateProduct()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Product Name</label>
    <div class="col-sm-10">
      <input type="text" formControlName="productName" class="form-control" id="productName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" formControlName="description" class="form-control" id="description">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input type="number" formControlName="price" class="form-control" id="price">
    </div>
  </div>
  <button type="submit" [disabled]="!productUpdateForm.valid">Update</button>
</form>